
.nav_container{
    background-color:rgb(255, 255, 255);
    display:flex;
    flex-direction: rows;
    justify-content:space-evenly;
    flex-wrap: nowrap;
}
.navbar{
    background-color: aquamarine;
    width:700px;
}


.navbar > ul > li{
    list-style: none;
    float:left;
    padding-left:20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom: 10px;
}

.navbar > ul > li >a{
    text-decoration: none;
}

.navbar > ul > li:hover{
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

.register{
    background-color: blue;
    width:700px;
}

.register > li{
    list-style: none;
}

.register li > a{
    text-decoration: none;
    padding:30px;
}


.main{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.container_1{
    background-color:#D9D9D9;
    flex-direction: row;
    height:400px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container_1 >.sc_1{
    background-color: blueviolet;
    width: 700px;
}

.container_1 >.sc_1 > p{
    text-align:center;
    margin:100px;
}

.container_1 >.sc_2{
    background-color: #C4C4C4;
    width: 700px;
}

.container_1 >.sc_2 >p{
    text-align: center;
    margin:100px;
}

.container_2{
    background-color:#C4C4C4;
    flex-direction: row;
    height:400px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container_2 >.sc2_1{
    background-color: #C3B39D;
    width: 700px;
}

.container_2 >.sc2_2{
    background-color: rgb(95, 121, 149);
    width: 700px;
}

.container_2 >.sc2_1 >p{
    text-align: center;
    padding: 150px;
}

.container_3{
    background-color:#D9D9D9;
    flex-direction: row;
    height:400px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container_3 >.sc3_1{
    background-color: rgb(255, 255, 255);
    width: 700px;
}

.container_3 >.sc3_2{
    background-color: #C3B39D;
    width: 700px;
}

.container_3 >.sc3_2 >p{
    text-align: center;
    padding:150px;
}